<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
<script src="app.js"></script>
<script src="crudService.js"></script>
<script src="otroService.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-route.js"></script>


<div ng-app="myApp" ng-controller="myCtrl">
    <a href="#!/nuevoproducto" >Agregar Producto</a>
    <div ng-view></div>
    
<div ng-repeat="x in array">
    <li>{{x.id}}</li>
    <li>{{x.nombre}}</li>
    <li>{{x.descripcion}}</li>
    <li>{{x.cantidad}}</li>
    <li>{{x.fecha}}</li>
    <li>{{x.categoria}}</li>

</div>





<button ng-click="pruebatodo()">vwe</button>

    <div ng-repeat="y in arraytodo">
        <ul>
        <li>{{y.id}}</li>
        <li>{{y.title}}</li>
        <li>{{y.author}}</li>
        <li>{{y.title}}</li>
    
    </ul>
    </div>

    <button ng-click="mostrarTodo()">otros</button>

    <div ng-repeat="z in mostrarT">
        <ul>
        <li>{{z.id}}</li>
        <li>{{z.email}}</li>
        <li>{{z.name}}</li>
        </ul>
    </div>


</div>
    