<html  ng-app="myApp">
    <head><title>Inventario Productos</title></head>
    <body>
        <div class="row" ng-controller="myCtrl">
            <form>
            <div class="col-lg-10"><input type="text" class="form-control" ng-model="nombre"></div>{{nombre}}
            <div class="col-lg-10"><input type="text" class="form-control" ng-model="descripcion"></div> {{descripcion}}
            <div class="col-lg-10">
            <select name="" id="categoria" ng-options="x.id as x.nombre for x in categorias " ng-model="selectedcategoria">
                    <option value="" >-- Selecciona Categoria --</option> 
            </select></div>  

            <div class="col-lg-10"><input type="text" class="form-control" ng-model="cantidad"></div> {{cantidad}}
            <div class="col-lg-10"><input type="text" class="form-control" ng-model="fecha"></div>{{fecha}}
            <div class="col-lg-10"><button ng-click="guardarProducto(nombre,descripcion,selectedcategoria,cantidad,fecha)">Guardar</button></div>

         </form>
        </div>
    </body>
</html>